@import "variables";

.wrapper {
    display: grid;
    position: relative;
    height: 100dvh;
    grid-template-columns: 16rem auto;
    grid-template-rows: 5rem auto;
    grid-template-areas: "sidebar navbar"
        "sidebar content";

    .navbar {
        grid-area: navbar;
        background-color: $nav-side-bar;
    }

    .content {
        grid-area: content;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: $main-bg;
    }

    .sidebar {
        grid-area: sidebar;
        background-color: $nav-side-bar;
    }
}

input[type="file"] {
    display: none;
}

@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: auto;
        grid-template-rows: 4rem auto;
        grid-template-areas: "navbar"
            "content";
    }

    .sidebar {
        position: absolute;
        top: 0;
        display: none;
    }

    .navbar {
        grid-area: navbar;
        background-color: $nav-side-bar;
    }

    .content {
        grid-area: content;
        border-radius: 1.5rem;
        background-color: $main-bg;
    }

    .display-none {
        display: none;
    }
}